.Problem {
    text-align: center;
    margin-top: 70px;
  }

  .padding-problem {
    padding-top: 130px; /* Ajuste este valor conforme a altura da sua navbar */
}
  
  
  .Problem-form {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa; 
  }
  @media (max-width: 992px) {
    .Problem-form {
      width: 90%;
    }
  }
  
  .Problem-form h1 {
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-container input,
  .input-container select,
  .input-container textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .input-container textarea {
    height: 100px;
  }
  
  button[type='submit'] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type='submit']:hover {
    background-color: #0056b3;
  }
  
  .success-message {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #7fc08d; 
    color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .success-message h1 {
    margin-bottom: 5% auto;
  }
  
  .success-message button {
    padding: 10px 20px;
    background-color: #f8f8f8; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .success-message button:hover {
    background-color: #c9cac9;
  }
  
  body {
    position: relative;
  }
  
  body:not(.Problem) {
    background-color: #050A24;
  }
  
  