.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #050A24;
  }
  
  .Login-header {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .Box {
    display: flex;
    flex-direction: column;
  }
  
  .Box h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #3563E9 ;
  }

  .Box h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .email-container,
  .password-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .email-container input,
  .password-container input {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .password-container button {
    position: absolute;
    right: 1px; 
    top: calc(50% - 5px);
    transform: translateY(-50%);
    background: none;
    border: none;
  }

  .password-container button:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .Box button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
  }

  .Box button:hover[type="submit"]{
    cursor: pointer;
    opacity: 0.8;
  }

  .forgot-link {
    display: block; 
    margin-top: 10px; 
    text-decoration: none;
    text-align: center;
    font-size: 0.9em;
  }

  .register-link {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
  
  .register-link a {
    color: #007BFF;
    text-decoration: none;
  }