.title-nav {
    color: #3563E9;
}

.title-menu {
    color: #94a7cb;
}

.search {
    border-radius: calc(1em + 0.25rem);
    font-family: Arial, FontAwesome;
}

#nav-bar {
    background-color: #e7e7e7f8 !important;
    padding: 0;
    overflow-x: hidden;
    position: fixed;
    z-index: 10;
}

.img-user {
    margin-left: -200px; /* Adjust the value as needed */
}
