.content {
  position: absolute;
  z-index: 0;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
}
.chart-container {
  width: 100%; 
  height: 100%;
  padding-bottom: 10%;
  padding-top: 10px;
}
.center-select {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.chart-button {
  padding: 10px;
  border: none;
  cursor: pointer;
}
.chart-button.selected {
  background-color: #007bff;
  color: white;
}
